<div class="container mt-2">
    <h3>Договоры</h3>
    
    <button class="btn btn-success mt-3"
    (click)="onAddContract()">              
        Добавить договор
    </button>

    <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>
            <!-- <th scope="col">Id</th> -->
            <th scope="col">Дата договора</th>
            <th scope="col">Организация</th>
            <th scope="col">Сотрудник</th>
            <th scope="col">Клиент</th>
            <th scope="col">Дата начала поездки</th>
            <th scope="col">Дата окончания поездки</th>
            <th scope="col">Участники поездки</th>
            <th scope="col">Маршрут</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contracts">
            <!-- <td>{{item.id}}</td> -->
            <td>{{item.contract_date | date:"dd.MM.yy hh:mm:ss"}}</td>
            <td>{{item.organization}}</td>
            <td>{{item.agent}}</td>
            <td>{{item.client}}</td>
            <td>{{item.start_date_of_trip | date:"dd.MM.yy"}}</td>
            <td>{{item.end_date_of_trip | date:"dd.MM.yy"}}</td>
            <td>
                <button class="btn btn-primary"
                (click)="onSeeTripMembers(item.id)">
                Смотреть
                </button>
            </td>  
            <td>
                <button class="btn btn-primary"
                (click)="onSeeRoutes(item.id)">
                Смотреть
                </button>
            </td>  
              

            </tr>
          </tbody>
      </table> 
    </div>
  </div> 


