<div class="container mt-2"> 
    <div class="container-fluid">
      <h3>Добавление предварительного соглашения</h3>
      <form [formGroup]="agreementForm">
        
        <div class="form-group mt-3">
            <label for="organization">Организация</label>
            <select class="form-control" id="organization" formControlName="organization">
             
              <ng-container *ngFor="let item of organizations">
                <option [value]="item.id" >{{item.organization_name}}</option>
              </ng-container>
            
            </select>
        </div>

        <div class="form-group mt-3">
            <label for="employee">Сотрудник</label>
            <select class="form-control" id="employee" formControlName="employee">
             
              <ng-container *ngFor="let item of employees">
                <option [value]="item.id">{{item.surname}} {{item.name}}</option>
              </ng-container>
            
            </select>
        </div>

        <div class="form-group mt-3">
            <label for="country">Страна посещения</label>
            <select class="form-control" id="country" formControlName="country_of_visit">
             
              <ng-container *ngFor="let item of countries">
                <option [value]="item.id">{{item.country_name}}</option>
              </ng-container>
            
            </select>
        </div>

        <div class="form-group mt-3">
            <label for="client">Клиент</label>
            <select class="form-control" id="client" formControlName="client">
             
              <ng-container *ngFor="let item of clients">
                <option [value]="item.id">{{item.surname}} {{item.name}}</option>
              </ng-container>
            
            </select>
        </div>

        <div class="form-group mt-3">
            <label for="members">Количество участников поездки</label>
            <input
              type="number"
              min="1"
              class="form-control"
              id="members"
              formControlName="number_of_trip_members"
            />
            <div class="alert alert-danger" 
              *ngIf="agreementForm.controls['number_of_trip_members'].invalid && agreementForm.controls['number_of_trip_members'].touched">
                Не указано количество участников поездки
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="start">Дата начала поездки</label>
            <input
              type="date"
              class="form-control"
              id="start"
              formControlName="start_date_of_trip"
            />
            <div class="alert alert-danger" 
            *ngIf="agreementForm.controls['start_date_of_trip'].invalid && agreementForm.controls['start_date_of_trip'].touched">
                Не указана дата начала поездки
            </div>
        </div>

        <div class="form-group mt-3">
            <label for="end">Дата окончания поездки</label>
            <input
              type="date"
              class="form-control"
              id="end"
              formControlName="end_date_of_trip"
            />
            <div class="alert alert-danger" 
            *ngIf="agreementForm.controls['end_date_of_trip'].invalid && agreementForm.controls['end_date_of_trip'].touched">
                Не указана дата окончания поездки
            </div>
        </div>
        
        
            
        <button class="btn btn-primary mr-4 mt-3" [disabled]="agreementForm.invalid" (click)="onSave()">
          Сохранить
        </button>
        
              
      </form>
    </div>
  </div> 

